<!DOCTYPE html>
<html>
<head>
    <title>Линейный график</title>
</head>
<body>
    <div style="width: 80%; margin: auto;">
        <canvas id="myLineChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script>
    document.addEventListener('DOMContentLoaded', function () {
        var xValues = [1.0, 5.0, 4.0, 12.0];
        var yValues = [2.0, 9.0, 7.0, 17.0];

        var ctx = document.getElementById('myLineChart').getContext('2d');
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: xValues,
                datasets: [{
                    label: 'Линейный график',
                    data: yValues,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 2,
                    fill: true
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom'
                    },
                    y: {
                        type: 'linear',
                        position: 'left'
                    }
                }
            }
        });
    });
</script>
</body>
</html>